@using Paup_StudentskaMenza.Misc;


@{
    ViewBag.Title = "Meni";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AjaxOptions ajaxOpt = new AjaxOptions()
    {
        UpdateTargetId = "popisMenija",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET",
        OnBegin = "LoadingRow"
    };
}



<h2>Ovotjedni meni</h2>





@if (User.Identity.IsAuthenticated &&
                         (User as LogiraniKorisnik).IsInRole(OvlastiKorisnik.Administrator))
{
    <a href="@Url.Action("Dodaj", "Meni")" class="btn btn-success">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Dodaj jelo
    </a>
}

<br />
<br />



@using (Ajax.BeginForm("PopisPartial", "Meni", ajaxOpt, new { @class = "form-inline", id = "formPopisMenija" }))
{ }

@{
    Html.RenderAction("PopisPartial", new { naziv = "" });
}

@section Scripts{
    <script type="text/javascript">
        function LoadingRow() {
            $("#tableJela tbody").empty();

            $("#tableJela tbody").append('<tr><td colspan="7" style="text-align: center">Pretraga u tijeku...</td></tr>');

          
        }
    </script>
    }