@{
    ViewBag.Title = "Menza";
}

<div class=" jumbotron text-center" style="background-image: url('/Content/Slike/caffeteria.png'); width:inherit;">
           
        <h1 style="color:white; border:solid 2px;padding:.2em; background-color:rgba(0, 0, 0, 0.5);">Pogledaj ovotjedni meni</h1>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Popis", "Meni")';">Saznaj više &raquo;</button>
    </div>


<div class="row" >
    <div class="col-md-4 text-warning" style="background-image: url('/Content/Slike/jelo.png'); width:400px; color:white; border:solid 2px;padding:.5em; background-color:rgba(0, 0, 0, 0.5); border-radius:10px">
        <h2>Predloži jelo</h2>
        <blockquote>
            <p>
                Popuni formu i javi nam ako želiš vidjeti novo jelo na meniju.
            </p>
        </blockquote>
        <button class="btn btn-defualt" style="color: black" onclick="location.href='@Url.Action("Contact", "Home")';">Kontakt &raquo;</button>
    </div>
  
</div>